<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3> 비회원제 게시판 </h3>
<h2>글쓰기</h2>
		 제목 : 	 <input type="text" > <br>
 		 내용 	 <input type="text"><br>
 		 작성자 :  <input type="text" >  <br>
		 비밀번호 : <input type="password" > <br>
 	<button type="button" onclick="board()"> 전송 </button>
 
 <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
 <script type="text/javascript" src="../JS/write.js"></script>
</body>
</html>